// Colors
$base:      #34495e
$firm:      #1abc9c

$gray:      #95a5a6
$lightgray: #ecf0f1
$inverse:   #fff

$success:   #2ecc71
$danger:    #e74c3c
$warning:   #f1c40f
$info:      #3498db

$blue-light: #38EFF8
$blue: #152D2E
$blue-dark: #0D2526
$gray-light: #BDC1C5
$gray-dark: #34495E
$orange: #FF851C
$yellow: #FFE500

// Font
$base-font-family: 'Lato', sans-serif
$base-font-size:   14px
